.DS_STORE

*/node_modules
*/dist

# rn app
reactNativeApp/.expo
reactNativeApp/npm-debug.*
reactNativeApp/*.jks
reactNativeApp/*.p8
reactNativeApp/*.p12
reactNativeApp/*.key
reactNativeApp/*.mobileprovision
reactNativeApp/*.orig.*
reactNativeApp/web-build/
